.header__logo {
    padding: 45px 0px 41px;
    width: 142px;
    height: 33px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding: 28px 0px 31.6px 27px;
    }
}