.page {
    position: relative;
    max-width: 1280px;
    background: #000000;
    margin: 0px auto;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}