.profile__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (min-width: 320px) and (max-width: 588px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 36px;
        max-width: 282px;
    }
}
