
.profile {
    position: relative;
    max-width: 880px;
    display: flex;
    margin: 0px auto;
    padding: 40px 0px 51px;
}

@media screen and (min-width: 320px) and (max-width: 588px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 42px 0px 36px;
    }
}

@media screen and (min-width: 581px) and (max-width: 1024px) {
    .profile {
        padding-left: 27px;
        padding-right: 27px;
    }
}