.popup__error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    padding-top: 5px;
    visibility: hidden;
    display: block;
    min-height: 30px;
}