.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    padding-right: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-right: 10px;
        max-width: 189px;
    }
}